server:
  port: 8081

spring:
  application:
    name: battleships
  data:
    mongodb:
      uri: ${mongo_uri}
  rabbitmq:
    addresses: ${rabbit_uri}
    username: ${rabbit_username}
    password: ${rabbit_password}
  multirabbitmq:
    enabled: true
    connections:
      logger:
        addresses: ${rabbit_logger_uri}
        username: ${rabbit_logger_username}
        password: ${rabbit_logger_password}

rabbitmq:
  exchanges:
    game: internal-game.exchange
    core: internal-core.exchange
    notification: internal-notification.exchange
  queues:
    game: game.queue
  routing-keys:
    game: internal.game.routing-key
    core: internal.core.routing-key
    notification: internal.notification.routing-key
