:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord11: #bf616a;
    --nord12: #F2B7BD;

}

body {
    transition: 0.8s;
    background-color: var(--nord0);
}

/*Buttons*/
.roomButton {
    transition: 0.2s;
    position: relative;
    width: 27vw;
    height: 5vw;
    background: var(--nord0);
    border-radius: 0.5vw;
    border: solid 0.1vw;
    border-color: var(--nord4);
}

.roomButton:hover {
    background: var(--nord1);
    border-color: var(--nord0);
}

.room {
    top: 9vw;
    left: 1.5vw;
}

.statistics {
    top: 14vw;
}

.exitRoom {
    top: 20vw;
}

.closeStatistics {
    top: 35vw;
}

/*Containers*/
.roomContainer {
    height: 20vw;
    width: 30vw;
    transition: 0.5s;
    border: solid var(--nord0);
    border-radius: 10px;
    margin: auto;
    background-color: var(--nord2);
}

.container {
    position: center;
    margin: 4.2vw auto;
    background-color: var(--nord1);
    display: flex;
    height: 41.5vw;
    width: 61.5vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: solid var(--nord1);
    border-radius: 10px;
}

/*Text-Based*/
.gameId {
    transition: 0.5s;
    color: var(--nord4);
    margin: auto;
    font-size: 0.8vw;
    position: absolute;
    text-align: left
}

.text {
    color: var(--nord4);
}

.statisticsText {
    position: center;
    margin: 1vw;
    transition: 0.6s;
    color: var(--nord4);
    text-align: left;
    font-family: 'RobotoMono-VariableFont_wght';
    font-size: 1.5vw;
}

.roomText {
    position: center;
    margin: 1vw;
    transition: 0.6s;
    color: var(--nord4);
    text-align: center;
    font-family: 'VT323-Regular';
    font-size: 3vw;
}

.game-id {
    position: absolute;
    color: var(--nord4);
    margin: auto;
    font-size: 0.7vw;
}

@font-face {
    font-family: "VT323-Regular";
    src: url('VT323-Regular.ttf')
}

@font-face {
    font-family: "RobotoMono-VariableFont_wght";
    src: url('RobotoMono-VariableFont_wght.ttf')
}
