server:
  port: 8082

spring:
  application:
    name: placement
  data:
    mongodb:
      uri: ${mongo_uri}
  rabbitmq:
    addresses: ${rabbit_uri}
    username: ${rabbit_username}
    password: ${rabbit_password}
  multirabbitmq:
    enabled: true
    connections:
      logger:
        addresses: ${rabbit_logger_uri}
        username: ${rabbit_logger_username}
        password: ${rabbit_logger_password}

rabbitmq:
  exchanges:
    placement: internal-placement.exchange
    game: internal-game.exchange
  queues:
    placement: placement.queue
  routing-keys:
    placement: internal.placement.routing-key
    game-placement: internal.game-placement.routing-key
