server:
  port: 8080
  error:
    include-message: always

# For tests, remove later
#logging:
#  level:
#    org:
#      springframework:
#        data:
#          mongodb:
#            core:
#              MongoTemplate: DEBUG

spring:
  application:
    name: core
  data:
    mongodb:
      uri: ${mongo_uri}
  rabbitmq:
    addresses: ${rabbit_uri}
    username: ${rabbit_username}
    password: ${rabbit_password}
  zipkin:
    base-url: http://localhost:9411
  redis:
    host: localhost
    port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

rabbitmq:
  exchanges:
    core: internal-core.exchange
    notification: internal-notification.exchange
    placement: internal-placement.exchange
    game: internal-game.exchange
  queues:
    core: core.queue
    notification: notification.queue
  routing-keys:
    core: internal.core.routing-key
    notification: internal.notification.routing-key
    game: internal.game.routing-key
    placement: internal.placement.routing-key

broker:
  application-destination-prefix: ${rabbit_clients_stomp_application_destination}
  destination-prefix: ${rabbit_clients_stomp_destination_prefix}
  endpoint: ${rabbit_clients_stomp_endpoint}
  relay-host: ${rabbit_clients_stomp_host}
  relay-port: ${rabbit_clients_stomp_port}
  client-login: ${rabbit_clients_stomp_username}
  client-passcode: ${rabbit_clients_stomp_passcode}
  system-login: ${rabbit_clients_username}
  system-passcode: ${rabbit_clients_password}
