server:
  port: 8080
  error:
    include-message: always

spring:
  application:
    name: battleships
  data:
    mongodb:
      uri: ${mongo_uri}
  rabbitmq:
    addresses: ${rabbit_uri}
    username: ${rabbit_username}
    password: ${rabbit_password}
  multirabbitmq:
    enabled: true
    connections:
      logger:
        addresses: ${rabbit_logger_uri}
        username: ${rabbit_logger_username}
        password: ${rabbit_logger_password}
      clients:
        host: 104.248.100.188
        port: 5673
        username: ${rabbit_clients_username}
        password: ${rabbit_clients_password}

rabbitmq:
  exchanges:
    notification: internal-notification.exchange
    placement: internal-placement.exchange
  queues:
    notification: notification.queue
  routing-keys:
    notification: internal.notification.routing-key
    placement: internal.placement.routing-key

broker:
  application-destination-prefix: ${rabbit_clients_stomp_application_destination}
  destination-prefix: ${rabbit_clients_stomp_destination_prefix}
  endpoint: ${rabbit_clients_stomp_endpoint}
  relay-host: ${rabbit_clients_host}
  relay-port: ${rabbit_clients_stomp_port}
  client-login: ${rabbit_clients_stomp_username}
  client-passcode: ${rabbit_clients_stomp_passcode}
